* text=auto eol=lf

*.R text eol=lf
*.Rmd text eol=lf
*.Rd text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.csv text eol=lf

*.sav binary
*.dta binary
*.rds binary
*.RData binary
*.xlsx binary
*.xls binary
*.xlsm binary
*.ods binary
*.zip binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
